
@font-face {
  font-family: "MochiyPopPOne-Regular";
  src: url("./fonts/MochiyPopPOne-Regular.ttf");
}

*{
  font-family: 'MochiyPopPOne-Regular', sans-serif;
  color: rgba(15, a, a, 0.892);
}

.font_t{
  font-family: 'MochiyPopPOne-Regular', sans-serif;
  color: rgba(15, a, a, 0.892);
}

.save_button{
  margin : 100px auto;
  
}

.star{
  height: 100px;
  width: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}